<template>
  <div class="hello">
    <el-container id="inputContainer">
      <el-main>
        <el-row>
          <el-col :span="8">
            <div class="grid-content"></div>
          </el-col>
          <el-col :span="8" id="inputRow">
            <el-input placeholder="Place ID" id="idInput" v-model="id"></el-input>
            <el-button id="idButton" type="primary" v-on:click="getLocation">Get Details</el-button>
          </el-col>
          <el-col :span="8">
            <div class="grid-content"></div>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
    <el-container id="dataContainer" v-if="Object.keys(parsedData).length">
      <el-header>Results</el-header>
      <el-main>
        <el-col :span="10" id="parsedData" class="data">
          <el-row v-for="(value, key) in parsedData" :key="key" class="parsedRow">
            {{key}}: {{value}}
          </el-row>
        </el-col>
        <el-col :span="10" id="rawData" class="data" v-if="width >= 500">
          {{rawData.address_components}}
        </el-col>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'MapResults',
  data() {
    return {
      baseUrl: 'http://localhost:3000/placeDetails',
      id: '',
      rawData: null,
      parsedData: {},
      width: window.innerWidth,
    };
  },
  mounted() {
    const vm = this;
    vm.$nextTick(() => {
      window.addEventListener('resize', () => {
        vm.width = window.innerWidth;
      });
    });
  },
  methods: {
    getLocation() {
      const vm = this;
      if (!vm.id) {
        return;
      }
      axios.get(`${vm.baseUrl}/${vm.id}`)
        .then((response) => {
          vm.rawData = response.data.result;
          vm.parseLocationData();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    parseLocationData() {
      const vm = this;
      const tempObj = {};

      vm.rawData.address_components.forEach((item) => {
        tempObj[item.types[0]] = item.long_name;
      });

      this.parsedData = {
        street_number: tempObj.street_number,
        street_name: tempObj.route,
        city: tempObj.locality,
        state: tempObj.administrative_area_level_1,
        zipcode: tempObj.postal_code,
      };
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }

  #idButton {
    margin-top: 15px;
  }

  .data {
    display: inline-block;
    width: 45%;
    margin: 50px auto;
  }
</style>
